.btn {
  display: block;
  border-radius: 23px;
  background-color: #ff3178;
  
  font-size: 18px;
  color: #ffffff;
}

.btn__arrow {
  position: absolute;
  top: 8px;
  right: 18px;
  display: block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.btn__arrow:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  
  border: 1px solid #ffffff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  
  transform: translate(75%, 100%) rotate(45deg);
}